@charset "utf-8";
 /* ----------------------------------------------------
目次
1. basic
2. header
	2-1. nav
3. contents
4. sub
5. footer
 ----------------------------------------------------- */

/* 1. basic
-------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Niconne);

body {
	background: #fff;
	color: #333;
	font: 1.5rem "Hiragino Kaku Gothic ProN", Meiryo, sans-serif normal;
}

.dspNo {display: none;}
.clear {clear: both;}

/* clear fix */
.cf:before, .cf:after {content: " "; display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}

.imgResponsive {
	display: block;
	width: 100%;
	height: auto;
}

@media screen and (min-width: 769px){
	img {display: inline;}
	.dspNo {display: block;}
}

/* 2. header
-------------------------------------------------------------------*/
#header {
	padding-bottom: 50px;
	text-align: center;
	font-family: 'Niconne', cursive;
	background: linear-gradient(130deg, #bd1515, #0099ff, #ff0066);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 27s ease infinite;
	-moz-animation: AnimationName 27s ease infinite;
	animation: AnimationName 27s ease infinite;
}
	@-webkit-keyframes AnimationName {
		0%{background-position:0% 28%}
		50%{background-position:100% 73%}
		100%{background-position:0% 28%}
	}
	@-moz-keyframes AnimationName {
		0%{background-position:0% 28%}
		50%{background-position:100% 73%}
		100%{background-position:0% 28%}
	}
	@keyframes AnimationName { 
		0%{background-position:0% 28%}
		50%{background-position:100% 73%}
		100%{background-position:0% 28%}
	}


#header a, #header.fixed a {
	color: #fff;
	text-decoration: none;
}

 #header .container {
	margin: 0 auto;
	padding: 30px 0;
}

/* 斜めの仕切り線 */
#header:after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 50px;
	background: url("../images/common/separate1.svg") no-repeat;
}

@media screen and (min-width: 769px){
	#header {padding-bottom: 100px;}
	#header:after {height: 100px;}
	#header .container {background: url(../images/common/bg_header.png) no-repeat bottom;}
}

/* 2-1. nav
-------------------------------------------------------------------*/
#gNav {
	margin: 0 auto;
	padding-top: 50px;
}

#gNav li {
	display: inline-block;
	font-size: 2em;
}

#gNav li a {padding: 5px 20px;}

@media screen and (min-width: 769px) {
	#gNav li {
		display: inline;
		margin: 0;
	}

	#gNav li a {
		position: relative;
		transition: .6s;
	}

	#gNav a::after {
		position: absolute;
		bottom: 0;
		left: 50%;
		content: '';
		width: 0;
		height: 1px;
		background-color: #0099ff;
		transition: .3s;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	#gNav a:hover::after {width: 100%;}

	#gNav li a:hover {
		background: #fff;
		color: #0099ff;
	}
}

/* 3. contents
-------------------------------------------------------------------*/
#contents {
	font-size: 1.7rem;
	padding-bottom: 100px;
}

#contents a {
	margin: 0 2px;
	padding: 1px 5px;
	transition: .3s;
}

#contents a:hover {
	background: #0FA0CE;
	color: #fff;
}

#contents h2 a {
	margin: 0;
	text-decoration: none;
}

.date {
	color: #555;
	font-size: 1.1em;
}

#main h2 {clear: both;}

#contents:after {
	content: "";
	background: url("../images/common/separate2.svg");
	background-repeat: no-repeat;
	display: block;
	height: 100px;
	position: absolute;
	width: 100%;
}

.cat {
	padding: 5px 0 5px 20px;
	background: url(../images/common/icon_cat.png) no-repeat 0 4px;
	font-size: 0.9em;
}

.tag {
	margin-left: 20px;
	padding: 5px 0 5px 24px;
	background: url(../images/common/icon_tag.png) no-repeat 0 4px;
	font-size: 0.9em;
}

.searchEx {background: yellow;}

@media screen and (min-width: 769px) {
	.more-link {padding: 10px 0;}

	.archiveImg {
		float: left;
		margin-right: 20px;
	}

}

/* 4. sub
-------------------------------------------------------------------*/
#sub {
	padding-bottom: 100px;
	background: #f4f4f4;
}

#sub img {margin-bottom: 10px;}

#sub h2 {
	margin-top: 30px;
	font-family: 'Niconne', cursive;
	font-weight: normal;
	text-shadow: 1px 1px 0px #fff;
}

#sub:after {
	clear: both;
	content: "";
	background: url("../images/common/separate3.svg");
	background-repeat: no-repeat;
	display: block;
	height: 100px;
	position: absolute;
	width: 100%;
}

#backTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-family: 'Niconne', cursive;
	font-size: 1.5em;
	z-index: 10;
}

#backTop a {
	border: 1px solid #fff;
	background: #bd1515;
	text-decoration: none;
	color: #fff;
	width: 120px;
	padding: 20px 0;
	text-align: center;
	border-radius: 3px;
	display: block;
}

#backTop a:hover {
	text-decoration: none;
	background: #fff;
	color: #bd1515;
	border: 1px solid #bd1515;
}

.archive img {
	box-shadow: 0px 0px 5px #888;
}

.caption {
	margin: 0 0 50px;
}

@media screen and (min-width: 769px) {
	/*.archive {
		transform: skewY(-5deg);
		transform-origin: top right;
	}

	.imgMask {
		transform: skewY(-5deg);
		transform-origin: top right;
	}*/
}

/* 5. footer
-------------------------------------------------------------------*/
#footer {
	clear: both;
	padding-bottom: 30px;
	background: #bd1515;
	color: #fff;
}

#copyright {
	clear: both;
	padding-top: 10px;
	font-size: 1.2em;
}

#footer h2 {
	font-family: 'Niconne', cursive;
	font-weight: normal;
}
#footer a, #footer  a:visited {
	display: inline;
	color: #ddd;
}

@media screen and (min-width: 769px) {
}