@charset "utf-8";

/* CSSの記述順序
 * display
 * list-style
 * position
 * float
 * clear
 * margin
 * border
 * width
 * height
 * padding
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 *
 */

 /* ----------------------------------------------------
目次
1. basic
2. header
	2-1. nav
3. contents
4. sub
5. footer
 ----------------------------------------------------- */

/* 1. basic
-------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Niconne);

body {
	background: #fff;
	color: #333;
	font: 16px "Hiragino Kaku Gothic ProN", Meiryo, sans-serif normal;
	line-height: 1.5;
}

img {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.dspNo {display: none;}
.clear {clear: both;}

/* clear fix */
.cf:before, .cf:after {content: " "; display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}

li {margin-left: 40px; }

.imgResponsive {
	display: block;
	width: 100%;
	height: auto;
}

@media screen and (min-width: 769px){
	img {display: inline;}
	.dspNo {display: block;}
}

/* 2. header
-------------------------------------------------------------------*/
#header {
	padding-bottom: 50px;
	/* グラデーション */
	background: rgb(189,21,21);
	background: -moz-linear-gradient(-45deg,  rgba(189,21,21,1) 0%, rgba(0,153,255,1) 100%);
	background: -webkit-linear-gradient(-45deg,  rgba(189,21,21,1) 0%,rgba(0,153,255,1) 100%);
	background: linear-gradient(135deg,  rgba(189,21,21,1) 0%,rgba(0,153,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd1515', endColorstr='#0099ff',GradientType=1 );
	/* グラデーション終わり */
	text-align: center;
	font-family: 'Niconne', cursive;
}

#header a, #header.fixed a {
	color: #fff;
	text-decoration: none;
}

.inner {
	margin: 0 auto;
	padding: 30px 0;
}

#logo {
	font-size: 3em;
	font-weight: normal;
}

/* 斜めの仕切り線 */
#header:after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 50px;
	background: url("../images/common/separate1.svg") no-repeat;
}

@media screen and (min-width: 769px){
	#header {padding-bottom: 100px;}
	#header:after {height: 100px;}
	.inner {
		width: 960px;
		margin: 0 auto;
		padding: 50px 0;
	}
}

/* 2-1. nav
-------------------------------------------------------------------*/
#gNav {padding-top: 30px;}

#gNav li {
	display: inline-block;
	font-size: 1.8em;}

#gNav li a {
	position: relative;
	padding: 5px 20px;
	color: #fff;
	transition: .3s;
}

#gNav a::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	content: '';
	width: 0;
	height: 1px;
	background-color: #fff;
	transition: .3s;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
#gNav a:hover::after {width: 100%;}

#gNav li a:hover {color: #0099ff;}

@media screen and (min-width: 769px) {
	#gNav {
		margin: 0 auto;
		padding-top: 50px;
	}

	#gNav li {
		display: inline;
		margin: 0;
	}
}

/* 3. contents
-------------------------------------------------------------------*/
#contents {
	height: auto;
	padding-bottom: 100px;
	font-size: 1.125em;
}

#contents a {
	padding: 1px 0;
	background-image: linear-gradient(rgba(0,0,0,0) 50%, rgba(101,111,244,1.0) 50%);
	background-position: 0 0;
	background-size: auto 200%;
	color: #656ff4;
	transition: .3s;
	text-decoration: none;
}

#contents a:hover {
	background-position: 0 100%;
	color: #fff;
}

.date {font-size: 2em;}

#main h2 {
	clear: both;
	font-size: 2em;
}

#main h3 {
	clear: both;
	padding-left: 8px;
	border-left: 6px solid #333;
}

#main p, #main ul {margin: 0 10px;}

#main li img {margin-top: 10px;}

#main p img {margin: 5px auto;}

#contents:after {
	content: "";
	background: url("../images/common/separate2.svg");
	background-repeat: no-repeat;
	display: block;
	height: 100px;
	position: absolute;
	width: 100%;
}

.cat {
	padding: 3px 0 3px 20px;
	background: url(../images/common/icon_cat.png) no-repeat 0 4px;
	font-size: 0.9em;
}

.tag {
	margin-left: 20px;
	padding: 3px 0 3px 24px;
	background: url(../images/common/icon_tag.png) no-repeat 0 4px;
	font-size: 0.9em;
}

.archiveImg {
	float: left;
	margin-right: 20px;
}

.archiveImg img {padding-right: 20px;}

.archiveTtl {
	margin-top:30px;
	font-size: 1.3em;
}

.searchEx {background: yellow;}
@media screen and (min-width: 769px) {
	#main {
		width: 960px;
		margin: auto;
	}

	#main ul {margin: 0;}

	#main p {margin: 20px 0;}

	#main p a:first-child {margin-right: 8px;}

	#main li img {
		margin-top: 0;
		margin-bottom: 5px;
	}

	.more-link {padding: 10px 0;}
}

/* 4. sub
-------------------------------------------------------------------*/
#sub {
	padding-bottom: 100px;
	background: #f4f4f4;
	text-align: center;
}

#sub .inner img {margin-bottom: 10px;}

#sub .inner h2 {
	margin-top: 30px;
	font-family: 'Niconne', cursive;
	font-size: 2em;
	font-weight: normal;
	letter-spacing: 4px;
	text-shadow: -1px -1px 0px #222, 1px 1px 0px #fff;
}

#sub .inner p {margin: 10px 0;}

#sub .inner h2 {
	padding: 10px;
	text-align: center;
}

#sub:after {
	clear: both;
	content: "";
	background: url("../images/common/separate3.svg");
	background-repeat: no-repeat;
	display: block;
	height: 100px;
	position: absolute;
	width: 100%;
}

#backTop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-family: 'Niconne', cursive;
	font-size: 1.5em;
}

#backTop a {
	border: 1px solid #fff;
	background: #bd1515;
	text-decoration: none;
	color: #fff;
	width: 120px;
	padding: 20px 0;
	text-align: center;
	border-radius: 3px;
	display: block;
}

#backTop a:hover {
	text-decoration: none;
	background: #fff;
	color: #bd1515;
	border: 1px solid #bd1515;
}

@media screen and (min-width: 769px) {
	#sub .inner h2 {
		margin-top: 0;
		text-align: left;
	}

	#sub .inner p {margin: 5px 0;}

	.archive {
		transform: skewY(-6.2deg);
		transform-origin: top right;
	}

	.imgMask {
		transform: skewY(-6.2deg);
		transform-origin: top right;
	}

	.archive {
		float: left;
		width: 50%;
		height: auto;
		text-align: center;
	}

	.archive img {border: 2px solid #bd1515;}

	.caption {
		width: 456px;
		height: 330px;
		background: rgba(0,0,0,.8);
		border: 2px solid #bd1515;
		overflow: hidden;
		cursor: pointer;
	}

	.caption a {
		color: #fff;
		text-decoration: none;
	}

	.archive {
		position: relative;
		overflow: hidden;
	}

	.caption {
		position: absolute;
		top: 5px;
		left: 12px;
		z-index: 0;
		-webkit-transition: .3s;
		transition: .3s;
		opacity: 0;
	}

	.caption h3,
	.caption p {
		position: absolute;
		left: -100%;
		width: 400px;
		color: #fff;
		-webkit-transition: .3s;
		transition: .3s;
	}

	.caption h3 {
		top: 70px;
		font-size: 2em;
	}

	.caption p {bottom: 20px;}

	.archive:hover .caption {opacity: 1;}

	.archive:hover .caption h3,
	.archive:hover .caption p {left: 20px;}

	.archive:hover .caption h3 {
		-webkit-transition-delay: .1s;
		transition-delay: .1s;
	}

	.archive:hover .caption p {
		-webkit-transition-delay: .3s;
		transition-delay: .3s;
	}
}

/* 5. footer
-------------------------------------------------------------------*/
#footer {
	clear: both;
	padding-bottom: 30px;
	background: #bd1515;
	color: #fff;
}

#footer .inner {
	padding: 10px 0;
}
#copyright {
	clear: both;
	padding-top: 20px;
	font-size: 1.2em;
}

#footer .inner h2 {
	font-family: 'Niconne', cursive;
	font-size: 2em;
	font-weight: normal;
}
#footer .inner a, #footer .inner a:visited {
	display: inline;
	color: #fff;
	text-decoration: none;
}

@media screen and (min-width: 769px) {
	#about {
		margin-top: -10px;
	}
}