@charset "utf-8";
/* float */
.flt_left {float: left;}
.flt_right {float: right;}
.flt_none {float: none !important;}

/* width */
.w_auto {width: auto !important;}
.w_max {width: 100% !important;}
.w_half {width: 50% !important;}
.w_third {width: 33% !important;}
.w_quarter {width: 25% !important;}
.w_fifth {width: 20% !important;}

/* margin-top */
.mt00 {margin-top: 0px !important;}
.mt05 {margin-top: 5px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}

/* margin-right */
.mr00 {margin-right: 0px !important;}
.mr05 {margin-right: 5px !important;}
.mr10 {margin-right: 10px !important;}
.mr15 {margin-right: 15px !important;}
.mr20 {margin-right: 20px !important;}
.mr25 {margin-right: 25px !important;}
.mr30 {margin-right: 30px !important;}
.mr35 {margin-right: 35px !important;}
.mr40 {margin-right: 40px !important;}
.mr45 {margin-right: 45px !important;}
.mr50 {margin-right: 50px !important;}

/* margin-bottom */
.mb00 {margin-bottom: 0 !important;}
.mb05 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb35 {margin-bottom: 35px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb45 {margin-bottom: 45px !important;}
.mb50 {margin-bottom: 50px !important;}

/* margin-left */
.ml00 {margin-left: 0px !important;}
.ml05 {margin-left: 5px !important;}
.ml10 {margin-left: 10px !important;}
.ml15 {margin-left: 15px !important;}
.ml20 {margin-left: 20px !important;}
.ml25 {margin-left: 25px !important;}
.ml30 {margin-left: 30px !important;}
.ml35 {margin-left: 35px !important;}
.ml40 {margin-left: 40px !important;}
.ml45 {margin-left: 45px !important;}
.ml50 {margin-left: 50px !important;}

/* padding-top */
.pt00 {padding-top: 0px !important;}
.pt05 {padding-top: 5px !important;}
.pt10 {padding-top: 10px !important;}
.pt15 {padding-top: 15px !important;}
.pt20 {padding-top: 20px !important;}
.pt25 {padding-top: 25px !important;}
.pt30 {padding-top: 30px !important;}
.pt35 {padding-top: 35px !important;}
.pt40 {padding-top: 40px !important;}
.pt45 {padding-top: 45px !important;}
.pt50 {padding-top: 50px !important;}

/* padding-right */
.pr00 {padding-right: 0px !important;}
.pr05 {padding-right: 5px !important;}
.pr10 {padding-right: 10px !important;}
.pr15 {padding-right: 15px !important;}
.pr20 {padding-right: 20px !important;}
.pr25 {padding-right: 25px !important;}
.pr30 {padding-right: 30px !important;}
.pr35 {padding-right: 35px !important;}
.pr40 {padding-right: 40px !important;}
.pr45 {padding-right: 45px !important;}
.pr50 {padding-right: 50px !important;}

/* padding-bottom */
.pb00 {padding-bottom: 0 !important;}
.pb05 {padding-bottom: 5px !important;}
.pb10 {padding-bottom: 10px !important;}
.pb15 {padding-bottom: 15px !important;}
.pb20 {padding-bottom: 20px !important;}
.pb25 {padding-bottom: 25px !important;}
.pb30 {padding-bottom: 30px !important;}
.pb35 {padding-bottom: 35px !important;}
.pb40 {padding-bottom: 40px !important;}
.pb45 {padding-bottom: 45px !important;}
.pb50 {padding-bottom: 50px !important;}

/* padding-left */
.pl00 {padding-left: 0px !important;}
.pl05 {padding-left: 5px !important;}
.pl10 {padding-left: 10px !important;}
.pl15 {padding-left: 15px !important;}
.pl20 {padding-left: 20px !important;}
.pl25 {padding-left: 25px !important;}
.pl30 {padding-left: 30px !important;}
.pl35 {padding-left: 35px !important;}
.pl40 {padding-left: 40px !important;}
.pl45 {padding-left: 45px !important;}
.pl50 {padding-left: 50px !important;}

/* indent-all */
.indent05 {padding: 5px !important;}
.indent10 {padding: 10px !important;}
.indent15 {padding: 15px !important;}
.indent20 {padding: 20px !important;}
.indent25 {padding: 25px !important;}
.indent30 {padding: 30px !important;}
.indent35 {padding: 35px !important;}
.indent40 {padding: 40px !important;}
.indent45 {padding: 45px !important;}
.indent50 {padding: 50px !important;}

/* indent-left,right */
.indent05_lr {padding: 0 5px !important;}
.indent10_lr {padding: 0 10px !important;}
.indent15_lr {padding: 0 15px !important;}
.indent20_lr {padding: 0 20px !important;}
.indent25_lr {padding: 0 25px !important;}
.indent30_lr {padding: 0 30px !important;}
.indent35_lr {padding: 0 35px !important;}
.indent40_lr {padding: 0 40px !important;}
.indent45_lr {padding: 0 45px !important;}
.indent50_lr {padding: 0 50px !important;}

/* indent-top,bottom */
.indent05_tb {padding: 5px 0 !important;}
.indent10_tb {padding: 10px 0 !important;}
.indent15_tb {padding: 15px 0 !important;}
.indent20_tb {padding: 20px 0 !important;}
.indent25_tb {padding: 25px 0 !important;}
.indent30_tb {padding: 30px 0 !important;}
.indent35_tb {padding: 35px 0 !important;}
.indent40_tb {padding: 40px 0 !important;}
.indent45_tb {padding: 45px 0 !important;}
.indent50_tb {padding: 50px 0 !important;}

/* font */
.f_bold {font-weight: bold !important;}
.f_normal {font-weight: normal !important;}

/* align */
.t_left {text-align: left !important;}
.t_center {text-align: center !important;}
.t_right {text-align: right !important;}
.v_top {vertical-align: top !important;}
.v_mdl {vertical-align: middle !important;}
.v_btm {vertical-align: text-bottom !important;}
