@charset "utf-8";
/* ----------------------------------------------------
6. parts
	6-1. h
	6-2. table
	6-3. list
	6-4. text
7. form
---------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Niconne);

/* 6. parts
-------------------------------------------------------------------*/


/* 6-1. h
-------------------------------------------------------------------*/
h3 {
	clear: both;
	font-size: 1.2em;
}

.line {
	color: #bd1515;
	padding-left: 1.3em;
	position: relative;
}

.line:first-letter {
	font-size: 1.6em;
}

.line::after {
	position: absolute;
	top: 0.7em;
	left: 0;
	z-index: 2;
	content: '';
	width: 9px;
	height: 9px;
	border: 5px solid #09f;
	border-radius: 100%
}

/* 6-2. table
-------------------------------------------------------------------*/

/* 6-3. list
-------------------------------------------------------------------*/

/* 6-4. text
-------------------------------------------------------------------*/
.outlink {
	padding: 15px 5px 15px 32px;
	display: block;
	color: #fff;
	background: #f4f4f4 url(../images/common/icon_link.png) no-repeat 3px 9px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1.4rem;
}

code {
	color: #fff;
	background: #322;
	border: 1px solid #666;
}

/* 7. form
-------------------------------------------------------------------*/
textarea {
	min-height: 200px;
	max-height: 400px;
	resize: vertical;
}




.archives ul li a {
	position: relative;
	display: inline-block;
	width: 12em;
	height: 32px;
	line-height: 32px;
	padding: 0 2.5em 0 1em;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #333;
	font-size: 0.9em;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.archives li span {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 2;
	width: 22px;
	height: 22px;
	line-height: 23px;
	background-color: #2a7ccc;
	border-radius: 3px;
	color: #fff;
	font-size: 0.9em;
	text-align: center;
	-webkit-transition: .2s;
	transition: .2s;
}
.archives ul li a:hover {
	background-color: #2a7ccc;
	border: 1px solid #2a7ccc;
	color: #fff;
}
.archives ul li a:hover span {
	background-color: #fff;
	color: #2a7ccc;
}
	.archiveH, .pagetitle {
		margin: 0 0 30px;
		font-family: 'Niconne', cursive;
	}

	.tags {
		float: right;
	}

.tags ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tags ul li, .archives ul li {
	display: inline-block;
	margin: 0 .3em .3em 0;
	padding: 0;
}
.tags ul li a {
	position: relative;
	display: inline-block;
	max-width: 140px;
	height: 32px;
	line-height: 32px;
	padding: 0 2.5em 0 1em;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 4px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #333;
	font-size: 0.9em;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.tags li span {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 2;
	width: 22px;
	height: 22px;
	line-height: 23px;
	background-color: #bd1515;
	border-radius: 3px;
	color: #fff;
	font-size: 0.9em;
	text-align: center;
	-webkit-transition: .2s;
	transition: .2s;
}
.tags ul li a:hover {
	background-color: #bd1515;
	border: 1px solid #bd1515;
	color: #fff;
}
.tags ul li a:hover span {
	background-color: #fff;
	color: #bd1515;
}

.searchform label {display: none;}

.prevPost, .nextPost {
	display: block;
	width: 90%;
	margin: 20px 0;
	padding: 2% 5%;
	background: #f4f4f4;
	border-radius: 5px;
	border: 1px solid #ddd;
}
.nextPost {text-align: right;}

.prevPost a, .nextPost a {display: block;}

@media screen and (min-width: 769px) {
	.prevPost {
		float: left;
		padding: 10px;
		width: 40%;
	}

	.nextPost {
		float: right;
		padding: 10px;
		width: 40%;
	}
}

.commentsList {
	font-size: 1.1em;
	text-align: left;
}
.commentsList li {
	clear: both;
	margin: 20px 10px;
	padding: 10px 0;
	list-style: none;
}
.comment-author img{
	float: left;
	width: 128px;
	height: 128px;
}

.comment-meta {
	float: right;
	margin: 10px 10px;
}
.children {
	margin-left: 20px;
	background: #fff;
}

.comment-body p {
	margin: 20px 10px !important;
}

.reply {
	padding-right: 10px;
	border-top: 1px solid #888;
	text-align: right;
}
.fn {
	margin-left: 5px;
	font-size: 1.3em;
	font-style: normal;
}

#respond {
	margin: 30px 0;
}

#reply-title {
	margin-bottom: 10px;
	font-size: 1.3em;
	text-align: left;
}

.search {text-align: left;}

/* ---------------------------------------------------
WP-Page Navi
---------------------------------------------------- */
.navigation { padding: 15px; text-align:center;}

.wp-pagenavi, .pager {
	clear: both;
	padding-top: 40px;
	font-weight: normal;
	text-align: center;
}
.wp-pagenavi a, .wp-pagenavi a:visited,
 .wp-pagenavi span.pages, .wp-pagenavi span.current,
 .wp-pagenavi span.extend, .pager a, .pager span {
	padding: 5px 10px !important;
	margin: 3px 4px;
	text-decoration: none;
	border: 1px solid #aaa;
	border-radius: 5px;
}

.wp-pagenavi a, .wp-pagenavi a:visited, .pager a,
.wp-pagenavi span.pages, .wp-pagenavi span.extend {
	color: #666;
	background-color: #e7e8e3;
}

.wp-pagenavi span.current , .pager span{
	color: #fff;
	background-color: #656ff4 !important;
}